[submodule "lib"]
	path = lib
	url = git@gitlab.internal.sanger.ac.uk:sanger-pathogens/pipelines/nextflowtool.git
[submodule "assorted-sub-workflows"]
	path = assorted-sub-workflows
	url = git@gitlab.internal.sanger.ac.uk:sanger-pathogens/pipelines/assorted-sub-workflows.git
