// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = 'long-read-ampliseq'
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/long-read-ampliseq'
    description     = 'AmpliSeq analysis pipeline for STI and epidemic pathogens from long reads'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.0.1'
}

params {
    basecall = "true"
    raw_read_dir = "/data/pam/software/test_data_amplicon/all_fast5"
    basecalling_accuracy = "hac"
    //this is default anyways but allows for changing
    trim_adapters = "all"
    basecall_accuracy = "hac"
    //none = auto
    basecall_model = ""
    barcode_kit_name = "SQK-LSK109"
    
    // LSF options
    queue_size = 50
    submit_rate_limit = '50/2min'
    monochrome_logs = false
}

// to add to nextflow.commons

process {
    withLabel:gpu {

        //forms the resource from other labels
        clusterOptions = { "-M "+task.memory.toMega()+" -R 'select[ngpus>0 && mem>="+task.memory.toMega()+"] rusage[ngpus_physical=1.00,mem="+task.memory.toMega()+"] span[ptile=1]' -gpu 'mode=shared'" }
        
        queue = { task.time > 48.h ? 'gpu-basement' : task.time > 12.h ? 'gpu-huge' : 'gpu-normal' }
        
        // need to set --nv to enable GPU's to be used
        containerOptions = {
            workflow.containerEngine == "singularity" ? '--containall --cleanenv --nv':
            ( workflow.containerEngine == "docker" ? '--gpus all': null )
        }
    }
}
// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}